@tailwind base;
@tailwind components;
@tailwind utilities;

/* the slides */
.slick-slide div {
    margin: 0 1rem;
  }


.slick-next {
    right: -40px !important;
}

.slick-dots li.slick-active button:before{
    color: cornflowerblue;
}

.slick-dots li button:before{
    color: #fff;
    font-size: 1rem;
    top: 2rem;
}


.slick-prev:before,
.slick-next:before {
  color: cornflowerblue;
}


.ml-AnnouncementCard{
  margin-left: 420px;
}

.ml-AnnouncementDetails{
  margin-left: 1400px;
}


@keyframes highlight {
  0% {background-color: yellow;}
  50% {background-color: yellow;}
  100% {background-color: transparent;}
}

.animate-highlight {
  animation: highlight 1.5s;
}

